* {
    box-sizing: border-box;
}

body {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
    font: .9em/1.2 fantasy, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 10px;
}
/* ------------------------------------ header ------------------------------------ */
header {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    grid-column: 1 / 13;
    grid-row: 1;
}
/* ------------------------------------ nav ------------------------------------ */
nav {
    grid-column: 1 / 13;
    grid-row: 2;
    border: 1px solid #999;
}

/*
nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

nav form {
    display: flex;
    flex: 5;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
} */
/* ------------------------------------ main ------------------------------------ */
/* main {
    grid-column: 4;
    grid-row: 2;
} */

article {
    border: 1px solid #999;
    grid-column: 1 / 11;
    grid-row: 3;
}

aside {
    border: 1px solid #999;
    /* border-right: 1px solid #999; */
    grid-column: 11 / 13;
    grid-row: 3;
}
/* ------------------------------------ foot ------------------------------------ */
footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 4;
}
